body {
  font-family: Segoe UI Light, sans-serif;
}

h1 {
  color: red;
}

h2 {
  display: inline-block;
  margin-right: 7px;
}

i {
  cursor: pointer;
}

i.fa.fa-trash-o {
  float: right;
}

ul {
  padding-left: 0;
}

ul li {
  position: relative;
  list-style-type: none;
  text-align: left;
  padding: 20px;
  cursor: move;
}

hr {
  position: absolute;
  top: 27px;
  width: 90%;
  transition: all 1s ease;
}

ul li:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

li span {
  margin-right: 30px;
}

button + button {
  margin-left: 8px;
}

[draggable] {
  user-select: none;
}

.addItemInput {
  float: left;
  margin-left: 18px;
}

.addButton {
  float: left;
  margin-left: 20px;
}

.container {
  margin: 0 auto;
  text-align: center;
}

.option {
  display: inline-block;
  background-color: red;
  width: 10rem;
  height: 10rem;
  border-radius:50%;
  padding:2rem;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 1s ease;
}

.option > p {
  color: #FFF;
}

.option:hover {
  background-color: rgba(255, 0, 0, 0.5);
}

@media (min-width: 762px) {
  .container {
    width: 70%;
    max-width: 2000px;
  }
}
